<div id="container" fxLayout="row" fxLayoutAlign="center center">
  <div id="clock" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center">
      <div id="itIs" class="label active">It is</div>
    </div>
    <div id="minute-row" fxLayout="row" fxLayoutAlign="space-around">
      <div id="fiveM" class="label">Five</div>
      <div id="tenM" class="label">Ten</div>
      <div id="quarterM" class="label">Quarter</div>
      <div id="twentyM" class="label">Twenty</div>
      <div id="halfM" class="label">Half</div>
    </div>
    <div id="direction-row" fxLayout="row" fxLayoutAlign="space-around">
      <div id="past" class="label">Past</div>
      <div id="till" class="label">Till</div>
    </div>
    <div id="hour-rows" fxLayout="column">
      <div id="hour-row1" fxLayout="row" fxLayoutAlign="space-around">
        <div id="h1" class="label">One</div>
        <div id="h2" class="label">Two</div>
        <div id="h3" class="label">Three</div>
        <div id="h4" class="label">Four</div>
        <div id="h5" class="label">Five</div>
        <div id="h6" class="label">Six</div>
      </div>
      <div id="hour-row2" fxLayout="row" fxLayoutAlign="space-around">
        <div id="h7" class="label">Seven</div>
        <div id="h8" class="label">Eight</div>
        <div id="h9" class="label">Nine</div>
        <div id="h10" class="label">Ten</div>
        <div id="h11" class="label">Eleven</div>
        <div id="h12" class="label">Twelve</div>
      </div>
    </div>
    <div id="am-pm" fxLayout="row" fxLayoutAlign="space-around">
      <div id="am" class="label">AM</div>
      <div id="pm" class="label">PM</div>
    </div>
  </div>
</div>