#container {
    background-color: #b3b3b3;
    height: 100vh;
}

#clock {
    background-color: #cccccc;
    border: 0.5em solid #2b1d03;
    border-radius: 50%;
    width: 32em;
    height: 32em;
}

.label {
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #2b1d03;
    margin: 0.2em;
}

.active {
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #03f0fc;
    text-shadow: 0.1em 0.1em 0 #2b1d03, -0.1em -0.1em 0 #2b1d03, -0.1em 0.1em 0 #2b1d03, 0.1em -0.1em 0 #2b1d03;
    margin: 0.2em;
}